<div id="login-holder">
  <h4>Login</h4>
  <form class="full-width full-height display-flex-center-columns" [formGroup]="form" (ngSubmit)="onSubmit()">

    <mat-form-field class="full-width" [color]="username.valid && 'accent'">
      <input matInput formControlName="username" type="username" placeholder="Username" />
      <mat-error *ngIf="username.invalid && username.dirty"> You must enter a valid username </mat-error>
    </mat-form-field>

    <mat-form-field class="full-width" [color]="email.valid && 'accent'">
      <input matInput formControlName="email" type="email" placeholder="Email" />
      <mat-error *ngIf="email.invalid && email.dirty"> You must enter a valid email address </mat-error>
    </mat-form-field>

    <mat-error *ngIf="serverError$ | async" class="server-error">{{ serverError$ | async }}</mat-error>

    <button class="full-width" mat-raised-button color="primary" type="submit" [disabled]="form.invalid">Log in</button>
  </form>
</div>
