#login-holder {
  width: 80vw;
  min-width: 150px;
  max-width: 500px;
  margin: 0 auto;
}

mat-form-field {
  margin-bottom: 16px;
}

input {
  div.mat-form-field-infix {
    padding: 0.3em 0;
    input.mat-input-element {
      vertical-align: top;
    }
  }
}

.server-error {
  margin: 8px 0;
  text-align: center;
}
