<div class="full-width full-height display-flex-center-columns">
  <div class="full-width app-max-width albums-title-and-view-options">
    <div class="title-holder">Photos</div>
    <div>
      <button [class.color-gray]="listView" mat-icon-button (click)="onClickGridView()">
        <mat-icon>view_module</mat-icon>
      </button>
      <button [class.color-gray]="!listView" mat-icon-button (click)="onClickListView()">
        <mat-icon>list</mat-icon>
      </button>
    </div>
  </div>
  <div id="photo-albums-holder" class="full-width app-max-width photo-albums" [class.list-view-photo-albums]="listView" [class.grid-view-photo-albums]="!listView">
    <div class="photo-album" *ngFor="let album of albums$ | async">
      <div class="full-width full-height">
        <app-column-photo-view *ngIf="!listView" [photoView]="getPhotoViewForAlbum(album)" (photoClick)="onPhotoClick($event)"></app-column-photo-view>
        <app-row-photo-view *ngIf="listView" [photoView]="getPhotoViewForAlbum(album)" (photoClick)="onPhotoClick($event)"></app-row-photo-view>
      </div>
    </div>
  </div>
</div>
