<div class="dialog-holder">
  <h4>{{ data.title }}</h4>
  <hr />
  <div fxLayout="row" fxLayout.lt-sm="column" fxLayoutAlign="flex-start center" class="full-width" class="message-row">
    <div fxFlex="calc(100%);" class="message-holder">
      <p class="text-style">
        {{ data.message }}
      </p>
    </div>
  </div>
  <div class="right-button">
    <button style="margin-right: 5px" class="confirm-buttons" mat-button (click)="onClickNo()">No</button>
    <button class="confirm-buttons" mat-button (click)="onClickYes()">Yes</button>
  </div>
</div>
