<div class="full-width full-height display-flex-center-columns">
  <div class="full-width app-max-width row-height">
    <button mat-icon-button (click)="onClickBack()">
      <mat-icon>arrow_back</mat-icon>
    </button>
  </div>
  <div class="full-width app-max-width row-height photos-title-and-view-options">
    <div class="title-holder">Photos</div>
    <div>
      <button [class.color-gray]="listView" mat-icon-button (click)="onClickGridView()">
        <mat-icon>view_module</mat-icon>
      </button>
      <button [class.color-gray]="!listView" mat-icon-button (click)="onClickListView()">
        <mat-icon>list</mat-icon>
      </button>
    </div>
  </div>
  <div class="full-width app-max-width row-height">
    <mat-form-field class="example-form-field">
      <mat-label>Photo search</mat-label>
      <span matPrefix><mat-icon>search</mat-icon></span>
      <input matInput type="text" [(ngModel)]="searchValue" (input)="onSearchChange($event.target.value)" />
      <button mat-button *ngIf="searchValue" matSuffix mat-icon-button aria-label="Clear" (click)="searchValue = ''">
        <mat-icon>close</mat-icon>
      </button>
    </mat-form-field>
  </div>
  <div id="photos-holder" class="full-width full-height app-max-width photos" [class.list-view-photos]="listView" [class.grid-view-photos]="!listView">
    <div class="photo-album" *ngFor="let photo of photos$ | async">
      <div class="full-width full-height">
        <app-column-photo-view
          *ngIf="!listView"
          [photoView]="getPhotoViewForAlbum(photo)"
          (photoClick)="onPhotoClick($event)"
          (photoDelete)="onPhotoDelete($event)"
        ></app-column-photo-view>
        <app-row-photo-view
          *ngIf="listView"
          [photoView]="getPhotoViewForAlbum(photo)"
          (photoClick)="onPhotoClick($event)"
          (photoDelete)="onPhotoDelete($event)"
        ></app-row-photo-view>
      </div>
    </div>
  </div>
</div>
