.row-height {
  height: 80px;
  line-height: 80px;
}

.photos-title-and-view-options {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 40px 0px;
}

.title-holder {
  font-size: 40px;
}

.color-gray {
  color: gray;
}

#photos-holder {
  overflow: auto;
}

.photos {
  margin: 0 auto;
  display: grid;
  grid-gap: 1rem;
}

.list-view-photos {
  grid-template-columns: repeat(1, 1fr);
}

@media (min-width: 600px) {
  .grid-view-photos {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 900px) {
  .grid-view-photos {
    grid-template-columns: repeat(3, 1fr);
  }
}

.photo-album {
  padding: 1rem;
  height: 15rem;
}
