.row-photo-view {
  width: 600px;
}

.photos-space-between {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-direction: column;
}

.half-width {
  width: 50%;
}

.title {
  width: 100%;
  height: 40px;
  line-height: 40px;
  font-size: 25px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
