<div class="full-height display-flex-center-rows row-photo-view" (click)="onPhotoClick()">
  <div class="full-height half-width">
    <img class="full-height" mat-card-image [src]="imgUrl" alt="No Image" />
  </div>
  <div class="full-height half-width" [class.display-flex-center-column]="photoView.isAlbumView" [class.photos-space-between]="!photoView.isAlbumView">
    <div class="title">
      {{ photoView.title }}
    </div>
    <div *ngIf="photoView.isAlbumView" class="creator">created by: {{ photoView.creator }}</div>
    <button *ngIf="!photoView.isAlbumView" mat-icon-button (click)="onClickPhotoDelete()">
      <mat-icon>delete</mat-icon>
    </button>
  </div>
</div>
