<div>
  <div id="photos-dialog-close-button" class="full-width">
    <button mat-icon-button (click)="onClickClose()">
      <mat-icon>close</mat-icon>
    </button>
  </div>
  <div class="display-flex-center-rows">
    <div class="full-width" style="text-align: left">
      <button mat-icon-button (click)="onPreviousImage()">
        <mat-icon>arrow_back</mat-icon>
      </button>
    </div>
    <div class="display-flex-center" style="width: calc(80vw - 200px); height: 80vh">
      <div>
        <img class="full-width full-height" mat-card-image [src]="imageUrl" alt="No Image" />
      </div>
    </div>
    <div class="full-width full-height" style="text-align: right">
      <button mat-icon-button (click)="onNextImage()">
        <mat-icon>arrow_forward</mat-icon>
      </button>
    </div>
  </div>
</div>
