.column-photo-view {
  width: 300px;
}

.photo-and-title-holder {
  height: calc(100% - 20px);
}

.photo-holder {
  height: calc(100% - 60px);
}

.title-and-delete-holder {
  width: 300px;
  height: 40px;
  line-height: 40px;
  font-size: 25px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.title {
  width: 260px;
  height: 40px;
  line-height: 40px;
  font-size: 25px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.creator {
  height: 20px;
  line-height: 20px;
}
