<div class="full-height display-flex-center-columns column-photo-view">
  <div class="full-width display-flex-center-columns photo-and-title-holder">
    <div class="full-width hover-pointer-orange photo-holder" (click)="onPhotoClick()">
      <img class="full-height" mat-card-image [src]="imgUrl" alt="No Image" />
    </div>
    <div class="display-flex-center-rows title-and-delete-holder">
      <div class="hover-pointer-orange title" (click)="onPhotoClick()">
        {{ photoView.title }}
      </div>
      <button *ngIf="!photoView.isAlbumView" mat-icon-button (click)="onClickPhotoDelete()">
        <mat-icon>delete</mat-icon>
      </button>
    </div>
  </div>
  <div *ngIf="photoView.isAlbumView" class="creator">created by: {{ photoView.creator }}</div>
</div>
