/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
  overflow: hidden;
}
body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}

.full-width {
  width: 100%;
}

.full-height {
  height: 100%;
}

.display-flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.display-flex-center-rows {
  @extend .display-flex-center;
  flex-direction: row;
}

.display-flex-center-columns {
  @extend .display-flex-center;
  flex-direction: column;
}

.app-max-width {
  max-width: 1100px;
}

.hover-pointer-orange :hover {
  cursor: pointer;
  color: orange;
}
